body{
    background:skyblue; margin-top:0%;margin-left: 10%;margin-right :10%; 
    margin-bottom: 0%;
    }
h1{ 
color: red;
  }
h2{
    font-family: sans-serif;
  }
p {font-family: monospace; text-align: left;}
h3{
    color: red;
  }


