*{
   
    
}
body{
    background:skyblue; margin-top:0%;margin-left: 10%;margin-right :10%; 
    margin-bottom: 0%;
    }
h1, h3{ 
color: red;
  }
h2{
    font-family: sans-serif;
  }
p {
    font-family: monospace;
    margin-right: 0%;
    text-align: justify;

}
#flutuar{
    float: left;
    margin: 1%;
    border: 1px solid black;
    border-radius: 20px;
    height: 200px;
    width: auto;
    align-items: center;
}   
.principal{
    display: table;
}
.txttest{
    display: inline-block;
    text-align: justify;
}
fieldset{
    display: inline-block;
    border: 0px;
}
.frame1{
    width: 49%;
    height: 320px;
    border: 10px;
}
#nome input{
    border-radius: 5px;

