body{
    background: rgb(80, 125, 177); margin-top:0%;margin-left: 10%;margin-right :10%"
    }
h1{
color: red;
  }
h2{
    font-family: sans-serif; color: white
  }
p {font-family: monospace}
h3{
    color: white;
}


